@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 227, 227);
}

img {
    width: 12rem;
}

.container {
    width: 80% !important;
    margin: 5rem auto !important;
}

.filter-inputs {
    width: 100%;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

.card-title {
    font-weight: bolder !important;
}

.card-body {
    line-height: .6rem !important;
}

.hideDiv {
    display: none;
}

.toggleBtn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    transition: transform .5s ;
}

.toggleBtn:hover {
    transform: rotate(180deg);
}

.horizontal {
    position: absolute;
    background-color: rgb(199, 199, 199);
    border-radius: 20%;
    width: 30px;
    height: 6px;
    left: 0;
    top: 0;
    transform: translate(8px, 22px);
    margin-left: 3.5px;

}

.vertical {
    position: absolute;
    background-color: rgb(199, 199, 199);
    width: 6px;
    height: 30px;
    border-radius: 20%;
    left: 0;
    top: 0;
    transform: translate(23.5px, 10px);
}

.tag {
    padding: .5rem;
    background-color: rgb(207, 207, 207);
    margin-right: .3rem;
    border-radius: 5px;
}

.tagInput {
    width: 40%;
    font-size: 1.2rem;
}
.tagInput:focus {
    border-color: black !important;
}

